.button-inside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-cadastro{
    border-radius: 5px;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
}

.btn-cadastro:hover{
    background-color: rgba(190, 190, 190, 0.966);
}

.icone{
    font-size: 2.2rem;
}

.icon-text{
    font-size: 1.4rem;
}

.btn-area a{
    text-decoration: none;
    font-size: 1.2rem;
}

.action-button-up:hover{
    color: #003f82 !important;
}

.action-button-del:hover{
    color: #820000 !important;
}

.table-content{
    font-size: 0.9rem;
}

.td-center{
    text-align: center;
}

.thead-title{
    font-size: 1.1rem;
}

.header-card{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.btn-head{
    display: flex;
    font-size: 1rem;
    text-align: center;
    padding: 5px;
    padding-right: 7px;
}

.btn-head i{
    padding: 0;
    margin: 0;
    font-size: 1.7rem !important;
}