body {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #DDD;
}

.form-login{
    flex-basis: 350px;
}

.login-card .card-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

.login-card .card-footer{ 
    display: flex;
    justify-content: center;
}